.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(84, 81, 87),
    rgb(38, 39, 40)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(84, 81, 87), rgb(38, 39, 40));
}
.container-fluid img {
  padding-left: 8px;
  width: 100px;
  height: auto;
}
#hero img {
  width: 100%;
  height: 650px;
  filter: brightness(50%);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  display: block;
  padding-bottom: 200px;
  margin-bottom: 8%;
}
.text a {
  text-decoration: none;
  color: #f2f2f2;
  margin: 6%;
}

#description span {
  font-weight: bold;
  color: whitesmoke;
}
HEAD #packageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.package-card {
  border-radius: 12px;
  display: flex !important;
  flex-direction: column;
  flex-grow: 2;
  min-height: 300px;
  min-width: 160px;
  position: relative;
  margin: 20px;
}

.package-card.other {
  background: linear-gradient(224.06deg, #8ec8f8 1.12%, #def3f5 98.65%);
  padding: 40px 0 0 10px;
}

.package-product-label p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
}

.package-product-label {
  background: #2d2d33;
  border-radius: 20px;
  color: #fff;
  display: block;
  padding: 0px 10px;
  position: relative;
  z-index: 3;
}

.package-card-top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 240px;
  padding: 12px;
  position: relative;
}

.package-card .package-card-top {
  height: 350px;
}

.package-card-bottom {
  background-color: #e4e4e4;
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  margin-top: -36px;
  min-height: 200px;
  padding: 12px;
  position: relative;
}

#package-productReviews {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  margin: 0;
  min-height: 90px;
  padding: 0;
}

#package-productReviews > li {
  display: flex;
  gap: 6px;
}

.package-preview-icon {
  flex-shrink: 0;
}

.package-preview-icon img {
  height: 22px;
  margin-top: 2px;
  object-fit: contain;
  object-position: left;
  width: 22px;
}

#package-productReviews > li > p {
  color: #2c313a;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.package-price-information-top {
  color: #60697f;
  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
}

.package-price-information-bottom {
  align-items: flex-end;
  display: flex;
}

.package-price-information-bottom {
  align-items: center;
  border-radius: 4px;
  color: #e52a34;
  display: inline-flex;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  margin: 4px;
  padding: 2px;
}

.package-price-information-bottom {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.btn-package {
  background: #d05d5d;
  border: none;
  border-radius: 96px;
  color: #fff;
  display: inline;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 6px 12px;
  margin: 20px 0;
  text-align: center;
}

.btn-package:active,
.btn-package:focus,
.btn-package:hover {
  opacity: 0.9;
  color: white;
}

.btn-link {
  align-items: center;
  background: #e4e4e4;
  border: none;
  border-radius: 96px;
  color: #13939e;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  gap: 8px;
  justify-content: center;
  line-height: 24px;
  padding: 0.5rem;
  text-align: center;
}

.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  opacity: 0.9;
}

@media (min-width: 1200px) {
  h2.title-package {
    font-size: 24px;
    line-height: 36px;
  }

  .section-packages {
    padding-bottom: 2rem;
  }

  #packagesContainer {
    overflow-x: scroll;
  }
  .package-card {
    border-radius: 12px;
    flex-grow: 1;
    height: 100%;
    max-width: 350px;
    min-height: 300px;
    min-width: 218px;
    position: relative;
  }

  .package-card.other {
    flex-grow: 1;
    height: auto;
    padding: 80px 0 0 24px;
  }

  .package-card-top {
    height: 350px;
  }

  .package-other-title {
    font-size: 20px;
    max-width: 134px;
  }
  .package-product-label p {
    font-size: 20px;
  }

  #package-productReviews {
    gap: 8px;
    min-height: 136px;
  }

  #package-productReviews > li > p {
    font-size: 18px;
    line-height: 22px;
  }

  .package-price-information-top {
    font-size: 12px;
    line-height: 20px;
  }

  .package-preview-icon img {
    margin-top: 4px;
  }
}

.loader {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  border-bottom: 10px solid #f3f3f3;
  border-color: #3498db #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #f3f3f3;
  border-style: solid;
  border-width: 10px;
  height: 50px;
  width: 50px;
}

.active-btn-grade,
.active-btn-level {
  background: #e0eefa !important;
  border: 1px solid #1480d8 !important;
  color: #1480d8 !important;
}
